<div class="jumbotron">
  <p ng-bind="message"></p>
        
  	<table class="table table-hover table-striped">
  		<tr>
  			<th>Project Name</th>
  			<th>Description</th>
  			<th>Coordinators</th>
  			<th>Select to view details</th>
  		</tr>
  		<tr ng-repeat="project in projects">
  			<td>{{project.name}}</td>
  			<td>{{project.description}}</td>
  			<td><span ng-repeat="name in project.coordinators">{{name}}, </span></td>
  			<td><a href="/view1/{{project.projectId}}"><input type="radio"></a></td>
  		</tr>
	</table>
</div>
