<div class="jumbotron">
	<p ng-bind="message"></p>
	<div class="row">
		<div class="col-md-3">
			<h4>Project Collaborators</h4>
		</div>
		<div class="col-md-6">
			<h4>Tasks</h4>
		</div>
		<div class="col-md-3">
			<h4>Tasks Details</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<span ng-repeat="collaborator in projectInfo.collaborators">
				{{collaborator.name}}, {{collaborator.role}}<br>
			</span>
		</div>
		<div class="col-md-9">
			<div  ng-repeat="task in projectInfo.tasks">
			<div class="col-md-6">
					<span> Task Title: {{task.title}}<br> Description:
						{{task.info}}<br>
					</span>
			</div>
			<div class="col-md-3">
					<span> Assigned To: {{task.assignedTo}}<br> Status:
						{{task.status}}<br> Created On: {{task.createdOn}}<br>
						Due Date: {{task.deuDate}}<br> Closed On: {{task.closedOn}}<br></span>
			</div>
			</div>
		</div>
	</div>
</div>
